/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 471 */

body {
  font-size: large;
  margin: 15px;
}

article {
}

h1 {
  font-size: medium;
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 5px;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (max-width: 481px) {
  body {
    background-color: aqua;
    font-size: medium;
    margin: 20px;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: large;
  }
  figcaption {
    font-size: medium;
  }
}

@media screen and (min-width: 482px) and (max-width: 543px) {
  body {
    background-color: red;
    font-size: large;
    margin: 20px;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: large;
  }
  figcaption {
    font-size: medium;
  }
  section {
    height: 700px;
    display: flex;
    flex-flow: column wrap;
  }
  figure {
    width: 50%;
  }
  img {
    max-width: 80%;
  }
}

@media screen and (min-width: 543px) {
  body {
    font-size: large;
    margin: 20px;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: large;
  }
  section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  figure {
      display: flex;
      margin-right: 5px;
  }
  figcaption {
    font-size: medium;
    margin: auto;
  }
  p {
    max-width: 100%;
  }
}
