h1 {
    font-family: sans-serif;
    font-style: italic;
    line-height: 1;
    text-align: center;
    text-decoration: overline;
}
p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
}
body {
    font-size: 16px;
    font-style: italic;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}