h1, p {
    text-align: center;
}

ul:hover, ol:hover {
    background-color: aqua;
}

li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}